:root {
  --main-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --background-team: #f5f4fa;
  --logo-black: #000000;
  --background-porfolio: #eeeeee;
  --horisontal-line: #ececec;
  --background-footer: #2f303a;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif, 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.page-header {
  background-color: var(--main-background-color);
}

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
}

.logo-blue,
.logo-black,
.logo-white {
  color: var(--accent-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  /*line-height: 31px;*/
  line-height: 1.3;
  font-family: Raleway;
}
.logo-black {
  margin-right: 93px;
  color: var(--logo-black);
}

.logo-white {
  color: var(--main-background-color);
}

a {
  /*font-weight: 500;
  font-size: 14px;
  line-height: 1.14;*/
  text-decoration: none;
}
.nav-list {
  list-style: none;
  display: flex;
  padding-left: 0;
}
.list {
  display: flex;
  margin-top: 94px;
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  list-style: none;
  padding-left: 0;
  padding-right: 30px;
}
.list:last-child {
  padding-right: 0;
}

.item {
  margin-right: 50px;
}

.item:last-child {
  margin-right: 0;
}
.nav-link {
  color: var(--main-text-color);
}

.nav-link-current {
  color: var(--accent-color);
}

.nav-link:hover {
  color: var(--accent-color);
}

.nav-link-current,
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contant-nav {
  margin-left: auto;
}

.contant-nav .contact-link {
  margin-right: 50px;
}

.contact-link:last-child {
  margin-right: 0;
}

.contact-link {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.cover {
  background-color: #2f303a;
  text-align: center;
}
.hero-title {
  margin: 0;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--main-background-color);
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  padding-top: 200px;
  font-family: 'Roboto';
  font-style: normal;
  line-height: 60px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.button {
  font-family: inherit;
  color: var(--main-background-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  /*display: flex;
  align-items: center;
  text-align: center;*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.06em;
  margin-bottom: 200px;
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-name {
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}
.features-text {
  margin-right: 30px;
  font-size: 14px;
  line-height: 1.7;
  color: var(--title-text-color);
}

.team {
  background-color: var(--background-team);
}
.section-head {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}
.img-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 0px;
  padding-right: 0px;
}
.img-list li {
  margin-right: 30px;
}
.img-list li:last-child {
  margin-right: 0px;
}
.address {
  padding-bottom: 60px;
}
.address-list .address-item {
  text-decoration: none;
}
.address-list {
  list-style: none;
}
.name-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  top: 1922px;
  color: var(--main-text-color);
}
.skill-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.footer {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-footer);
}
.logo-footer {
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  padding-top: 60px;
}
.address {
  font-style: inherit;
}
.list {
  list-style: none;
}
.address-place:hover {
  color: var(--accent-color);
}
.address-contact:hover {
  color: var(--accent-color);
}
.address-place {
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-background-color);
}
.link {
  text-decoration: none;
}
.address-contact {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.group-nav {
  display: flex;
  align-items: center;

  justify-content: center;
  margin-top: 94px;

  list-style-type: none;
  font-family: inherit;
}
button {
  border: none;
}
.btn {
  margin-right: 8px;
  color: var(--main-text-color);
  background-color: var(--background-team);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
}
.btn:hover {
  color: var(--main-background-color);
  background-color: #2196f3;
}

.project-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.project-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.img-portfolio {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
}
.img-portfolio li {
  padding-right: 30px;
}
.img-portfolio li:nth-last-child(3n + 1) {
  padding-right: 0px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}
